{% extends 'base.html' %}

{% block title %}{% if not edit %}Criar{% else %} Editar {% endif %} Produto{% endblock %}

{% block content %}
    <h1 class="font-extrabold text-4xl leading-10">{% if not edit %}Criar{% else %} Editar {% endif %} Produto</h1>
    <form method="post" class="flex flex-col gap-4 mt-4">
        {% csrf_token %}
        <div class="flex gap-4">
            <div class="w-full">
                <span class="mb-2">Designação</span>
                {% component "Input" placeholder="Designação" inputName="name" id="name" value=form.name.value error=errors.name %}
            </div>
            <div class="w-full">
                <span class="mb-2">Tipo</span>
                <select name="type" id="type" class="border border-gray-300 py-2 px-4 flex gap-2 rounded-lg bg-white items-center w-full" {% if edit %}disabled{% endif %}>
                    <option value="COMPONENT" {% if form.type.value == 'COMPONENT' %}selected{% endif %}>Componente</option>
                    <option value="EQUIPMENT" {% if form.type.value == 'EQUIPMENT' %}selected{% endif %}>Equipamento</option>
                </select>
            </div>
        </div>
        <div class="flex items-center gap-4">
            <div class="w-full">
                <span class="mb-2">Peso (g)</span>
                {% component "Input" type="number" placeholder="0" inputName="weight" id="weight" value=form.weight.value|floatformat:"0" error=errors.weight %}
            </div>
            <div class="w-full">
                <span class="mb-2">Margem de Lucro (%)</span>
                {% component "Input" type="number" placeholder="0" inputName="profit_margin" id="profit_margin" value=form.profit_margin.value|floatformat:"0" error=errors.profit_margin %}
            </div>
            <div class="w-full">
                <span class="mb-2">IVA (%)</span>
                {% component "Input" type="number" placeholder="0" inputName="vat" id="vat" value=form.vat.value error=errors.vat %}
            </div>
        </div>
        {% component "TextArea" label="Descrição" name="description" id="description" value=form.description.value error=description.vat %}
        <div class="flex flex-col gap-2 w-1/2">
            <span>Propriedades adicionais (opcional)</span>
            {% if not edit %}
                <div class="flex items-center gap-4" id="prop_template">
                    {% component "Input" placeholder="Nome Propriedade" inputName="prop_1" id="prop_1" value=form.prop_1.value error=errors.prop_1 %}
                    {% component "Input" placeholder="Valor da Propriedade" inputName="value_1" id="value_1" value=form.value_1.value error=errors.value_1 %}
                </div>
            {% else %}
                <div class="flex items-center gap-4 hidden" id="prop_template">
                    {% component "Input" placeholder="Nome Propriedade" inputName="prop_template" id="prop_template" %}
                    {% component "Input" placeholder="Valor da Propriedade" inputName="value_template" id="value_template" %}
                    <button id="delete_template" type="button">
                        <i class="ph-bold ph-x-circle text-xl text-red-500"></i>
                    </button>
                </div>
            {% endif %}
        </div>
        <button type="button" id="newProp" class="button w-fit -mt-2">Adicionar nova</button>
        <button type="submit" class="button !bg-green-500 text-white w-full hover:opacity-80 mt-8">
            <i class="ph-fill ph-check-circle !text-white"></i>
            Finalizar {% if not edit %}Criação{% else %} Edição {% endif %}
        </button>
    </form>

    <script type="application/javascript">
         $(document).ready(() => {
            propCount = 1;
            let prop = $("#prop_template");

            {% if not edit %}
                $("#newProp").click(() => {
                    prop = $("#prop_template").clone();
                    $(prop).removeClass("hidden");
                    propCount++;

                    prop.find("input").each((i, e) => {
                        $(e).attr("name", $(e).attr("name").replace("1", propCount));
                        $(e).attr("id", $(e).attr("id").replace("1", propCount));
                        $(e).val("");
                    });

                    $("#prop_template").parent().append(prop);
                })
            {% else %}
                $("#newProp").click(() => {
                    prop = $("#prop_template").clone();

                    $(prop).removeClass("hidden");
                    $(prop).attr("id", "");

                    prop.find("input").each((i, e) => {
                        if ($(e).attr("id") === "value_template") {
                            console.log("{{ prop.value }}", 'dsa')
                            $(e).val("{{ prop.value }}");
                        } else {
                            $(e).val("{{ prop.prop }}");
                        }

                        $(e).attr("name", $(e).attr("name").replace("template", propCount));
                        $(e).attr("id", $(e).attr("id").replace("template", propCount));
                    });

                    prop.find("button").attr("id", "delete_" + propCount);

                    $("#prop_template").parent().append(prop);
                    propCount++;
                })
            {% endif %}

            {% if edit %}
                {% for prop in productProps %}
                    prop = $("#prop_template").clone();

                    $(prop).removeClass("hidden");
                    $(prop).attr("id", "");

                    prop.find("input").each((i, e) => {
                        if ($(e).attr("id") === "value_template") {
                            $(e).val("{{ prop.value }}");
                        } else {
                            $(e).val("{{ prop.prop }}");
                        }

                        $(e).attr("name", $(e).attr("name").replace("template", propCount));
                        $(e).attr("id", $(e).attr("id").replace("template", propCount));
                    });

                    prop.find("button").attr("id", "delete_" + propCount);

                    $("#prop_template").parent().append(prop);
                    propCount++;
                {% endfor %}
            {% endif %}

             $(document).on("click", 'button[id^="delete_"]', (e) => {
                $(e.target).parent().parent().remove();

                $("#prop_template").parent().children().each((i, e) => {
                    $(e).find("input").each((l, e) => {
                        $(e).attr("name", $(e).attr("name").replace(/\d+/g, i - 1));
                        $(e).attr("id", $(e).attr("id").replace(/\d+/g, i - 1));
                    });

                    $(e).find("button").attr("id", "delete_" + (i - 1));
                    propCount = i;
                });
            })
        })
    </script>
{% endblock %}