<div class="border border-gray-300 py-2 px-4 flex gap-2 rounded-lg bg-white items-center w-full {% if iconPosition != "left" %} flex-row-reverse {% endif %}">
    {% if icon %}
        <i class="ph-bold ph-{{ icon }}"></i>
    {% endif %}
    <input class="w-full outline-none leading-7" type="{{ type }}" min="0" placeholder="{{ placeholder }}" name="{{ inputName }}" id="{{ id }}" value="{% if value %}{{ value }}{% endif %}">
</div>
{% if error %}
    <span class="mt-1 ml-2 text-red-500">{{ error }}</span>
{% endif %}