{% extends 'base.html' %}
{% load render_table from django_tables2 %}

{% block title %}Guias Remessa{% endblock %}

{% block content %}
    <h1 class="font-extrabold text-4xl leading-10">Criar Guia de Remessa</h1>
    <form method="post" class="flex flex-col gap-4">
        {% csrf_token %}
        <div class="flex gap-4">
            <div class="w-full">
                <span class="mb-2">Cliente</span>
                <a href="#clientModal" class="button w-full !justify-start" rel="modal:open">
                    <i class="ph-fill ph-truck"></i>
                    {% if selected_client %}
                        <input name="client" class="hidden" value="{{ selected_client_id }}">
                        {{ selected_client }}
                    {% else %}
                        Seleciona um Cliente
                    {% endif %}
                </a>
                {% if errors.client %}
                    <span class="text-red-500 ml-1">{{ errors.client }}</span>
                {% endif %}
            </div>
            <div class="w-full">
                <span class="mb-2">Adicinar Encomenda</span>
                <a href="#clientOrdersModal" class="button w-full !justify-start" rel="modal:open">
                    <i class="ph-fill ph-archive-box"></i>
                    Adicionar Encomenda
                </a>
                {% if errors.client_order_1 %}
                    <span class="text-red-500 ml-1">{{ errors.client_order_1 }}</span>
                {% endif %}
            </div>
        </div>
        <hr class="border-gray-300">
        <span class="-mb-2 font-medium">Relativa a</span>
        <div id="clientOrders-list" class="flex items-center gap-4">
            <input type="text" class="hidden clientOrders-list-new" name="client_order_1"></input>
        </div>
        {% component "ProductsBaseTable" errors=errors canAddProducts=False %}
        {% component "TextArea" name="obs" label="Observações" %}
        <button id="submitButton" class="button !bg-green-500 text-white w-full hover:opacity-80">
            <i class="ph-fill ph-check-circle !text-white"></i>
            Criar Guia de Remessa
        </button>
        <div id="product-list" class="hidden">
            <input type="text" class="hidden product-list-new" name="product_1"></input>
        </div>
    </form>
    {% component "SelectTableModal" id="clientModal" title="Seleciona um Cliente" table=selectClientTable %}
    {% if selected_client %}
        {% component "SelectTableModal" id="clientOrdersModal" title="Seleciona uma Encomenda" table=selectClientOrdersTable %}
    {% endif %}

    <script type="application/javascript">
        field_number = 1
        var product_number = 1

        $(document).ready(function() {
            $("#submitButton").click((e) => {
                $("form").append(`<input type="text" class="hidden" name="submit" value={{ True }}>`)

                $('form').submit()
            })

            $("button#select_clientOrder").click((e) => {
                let client_order_id = $(e.target).attr('data-clientOrder-id')

                {% if selected_client_orders %}
                    field_number = {{ selected_client_orders|length }} + 1
                {% endif %}

                addClientOrder(client_order_id)

                //$('#componentsModal').modal('hide')
                $('form').submit()
            })
        })

        function addClientOrder(client_order_id)
        {
            $('input[name="client_order_' + field_number + '"]').val(client_order_id)

            var clone = $('.clientOrders-list-new').clone()
            name = clone.attr('name')

            console.log("addClientOrder", name, field_number + 1)

            clone.attr('name', name.replace('1', field_number + 1))

            clone.val('')
            clone.removeClass('clientOrders-list-new')

            $('#clientOrders-list').append(`
                <div id="test-${client_order_id}" class="bg-white p-6 border border-gray-300 flex flex-col gap-2 rounded-lg">
                    <i class="ph-fill ph-package text-5xl"></i>
                    <p class="text-xl leading-6 font-semibold text-gray-900 whitespace-nowrap"><span class="font-bold">Encomenda:</span> ${client_order_id}</p>
                </div>
            `)

            clone.appendTo($(`#test-${client_order_id}`))

            field_number++
            console.log(field_number)
        }

        function addProduct(product_id) {
            if($(`#row_${product_id}`).length > 0) return;

            $('input[name="product_' + product_number + '"]').val(product_id)

            clone = $('.product-list-new').clone()
            name = clone.attr('name')

            clone.attr('name', name.replace('1', product_number + 1))

            clone.val('')
            clone.removeClass('product-list-new')
            clone.appendTo($('#product-list'))

            product_number++
        }

        {% if selected_client_orders %}
            {% for clientOrder in selected_client_orders %}
                addClientOrder('{{ clientOrder }}')
            {% endfor %}
        {% endif %}

        {% if components %}
            $(document).ready(() => {
                {% for component in components %}
                    addProduct('{{ component.product.id_product }}')
                    addRowToTableWithAllData({{ component.product.id_product }}, '{{ component.product.name }}', '{{ component.price_base }}', {{ component.quantity }}, {{ component.vat }}, {{ component.discount}})
                {% endfor %}
            })
        {% endif %}
    </script>
{% endblock %}