<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <title>Page not found</title>
</head>
<body class="flex flex-1 w-screen h-screen justify-center items-center">
    <div class="flex flex-col gap-2 items-center">
        <i class="ph-fill ph-bug-droid text-6xl"></i>
        <h1 class="font-bold text-2xl capitalize">Page not Found</h1>
        <span class="font-medium text-sm -mt-2">(404)</span>
    </div>
</body>
</html>