<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <style type="text/tailwindcss">
        @layer utilities {
            .button {
                @apply py-2 px-4 rounded-lg bg-white hover:bg-gray-200 transition-all border border-gray-300 shadow-sm flex items-center justify-center gap-2 leading-6 font-medium [&>i]:text-gray-600 [&>i]:text-2xl;
            }
            
            .table {
                @apply w-full border-collapse border-2 border-gray-300 rounded-lg overflow-hidden bg-white shadow-sm;
            }

            .table th {
                @apply pt-4 px-4 font-medium text-left text-xs text-gray-500 uppercase border-b border-gray-300;
            }

            .table td {
                @apply py-4 px-4 text-base text-gray-700 font-medium;
            }

            .pagination {
                @apply flex gap-2 items-center bg-white shadow-sm rounded-lg w-fit px-4 py-2 mt-2;
            }

            .pagination li {
                @apply rounded-lg border border-gray-300 cursor-pointer hover:!bg-gray-300 transition-colors;
            }

            .pagination a {
                @apply px-2 py-0.5 font-medium text-gray-600;
            }

            .pagination li.active {
                @apply bg-gray-200;
            }
        }
    </style>
    <title>Projeto BD2 - {% block title %}{% endblock %}</title>
</head>
<body class="text-gray-700 flex bg-gray-200">
    {% load user_tags %}
    {% if user.is_authenticated %}
        <aside
            class="w-80 h-screen bg-white shadow-md py-8 flex flex-col gap-8 text-gray-600"
        >
            <i class="ph-fill ph-list text-4xl font-bold ml-8"></i>
            <div class="flex flex-col gap-2">
                {% if request.user|has_group:'admin' or request.user|has_group:'compras' %}
                    {% component "NavSection" title="Compras" sectionSelected=navSection navSection='compras' icon="shopping-cart" linkTo="home" %}
                    {% if navSubSection and navSection == 'compras' %}
                        <div class="flex flex-col gap-2 ml-8">
                            {% component "NavSubsection" title="Pedidos de compra" subSectionSelected=navSubSection navSubSection='pedidosCompra' icon="shopping-cart" linkTo="home" %}
                            {% component "NavSubsection" title="Faturas" subSectionSelected=navSubSection navSubSection='faturas' icon="scroll" linkTo="faturas" %}
                            {% component "NavSubsection" title="Fornecedores" subSectionSelected=navSubSection navSubSection='fornecedores' icon="truck" linkTo="fornecedores" %}
                            {% component "NavSubsection" title="Receções de material" subSectionSelected=navSubSection navSubSection='rececaoMaterial' icon="warehouse" linkTo="recessao" %}
                        </div>
                    {% endif %}
                {% endif %}
                {% if request.user|has_group:'admin' or request.user|has_group:'stock' %}
                    {% component "NavSection" title="Inventario" sectionSelected=navSection navSection='inventario' icon="warehouse" linkTo="inventario" %}
                    {% if navSubSection and navSection == 'inventario' %}
                        <div class="flex flex-col gap-2 ml-8">
                            {% component "NavSubsection" title="Movimentos" subSectionSelected=navSubSection navSubSection='movimentos' icon="arrows-left-right" linkTo="movimentos" %}
                            {% component "NavSubsection" title="Armazens" subSectionSelected=navSubSection navSubSection='armazens' icon="warehouse" linkTo="armazens" %}
                            {% component "NavSubsection" title="Produtos" subSectionSelected=navSubSection navSubSection='produtos' icon="archive" linkTo="produtos" %}
                        </div>
                    {% endif %}
                {% endif %}
                {% if request.user|has_group:'admin' or request.user|has_group:'producao' %}
                    {% component "NavSection" title="Produção" sectionSelected=navSection navSection='producao' icon="package" linkTo="producao" %}
                    {% if navSubSection and navSection == 'producao' %}
                        <div class="flex flex-col gap-2 ml-8">
                            {% component "NavSubsection" title="Ordens de Produção" subSectionSelected=navSubSection navSubSection='ordensProducao' icon="shopping-cart" linkTo="ordensProducao" %}
                            {% component "NavSubsection" title="Mão de Obra" subSectionSelected=navSubSection navSubSection='maoObra' icon="hand-coins" linkTo="maoObra" %}
                        </div>
                    {% endif %}
                {% endif %}
                {% if request.user|has_group:'admin' or request.user|has_group:'vendas' %}
                    {% component "NavSection" title="Vendas" sectionSelected=navSection navSection='vendas' icon="currency-dollar" linkTo="vendas" %}
                    {% if navSubSection and navSection == 'vendas' %}
                        <div class="flex flex-col gap-2 ml-8">
                            {% component "NavSubsection" title="Encomendas Cliente" subSectionSelected=navSubSection navSubSection='encomendas' icon="package" linkTo="encomendasCliente" %}
                            {% component "NavSubsection" title="Guias de Remessa" subSectionSelected=navSubSection navSubSection='guiasRemessa' icon="hand-coins" linkTo="guiasRemessa" %}
                            {% component "NavSubsection" title="Clientes" subSectionSelected=navSubSection navSubSection='clientes' icon="users-three" linkTo="clientes" %}
                            {% component "NavSubsection" title="Faturas Cliente" subSectionSelected=navSubSection navSubSection='faturasCliente' icon="scroll" linkTo="faturasCliente" %}
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </aside>
    {% endif %}
    <div class="w-full h-screen">
        <nav class="flex px-16 py-4 justify-between items-center bg-gray-100 shadow-md">
            <h3 class="font-bold text-2xl">BD2 Projeto</h3>
            {% if user.is_authenticated %}
                <div class="flex gap-2 items-center">
                    <div class="rounded-full bg-gray-200 relative w-12 h-12 overflow-hidden">
                        <img src="https://avatars.githubusercontent.com/u/38139389?v=4" class="w-full h-full">
                    </div>
                    <p class="font-medium">{{ user.username }}</p>
                    <a href="{% url 'logout' %}" class="cursor-pointer">
                        <i class="ph ph-arrow-square-right text-red-500 text-2xl font-bold"></i>
                    </a>
                </div>
            {% else %}
                <a href="{% url 'login' %}" class="py-2 px-4 font-medium rounded-lg bg-white hover:bg-gray-200 transition-colors">Login</a>
            {% endif %}
        </nav>
        <main class="flex flex-col overflow-auto py-8 pl-8 pr-4 gap-4">
            {% block content %}
            {% endblock %}
        </main>
    </div>
    <script type="application/javascript">
        $("a[rel='modal:open']").click(function(ev) {
            $(this).modal({
                fadeDuration: 250,
                fadeDelay: 0.50
            });
            return false;
        });

        function convert(currency) {
            // Replace non-breaking space (Unicode \u00A0) with regular space
            currency = currency.replace(/\u00A0/g, ' ');

            // Remove non-numeric characters except for dot and comma
            const numericString = currency.replace(/[^\d.,]/g, '');

            // Detect separators by checking the position of dot and comma
            let decimalSeparator, thousandsSeparator;

            if (numericString.indexOf(',') > numericString.indexOf('.')) {
                decimalSeparator = ',';
                thousandsSeparator = '.';
            } else {
                decimalSeparator = '.';
                thousandsSeparator = ',';
            }

            // Replace the detected separators and convert to float
            const formattedNumericString = numericString.replace(thousandsSeparator, '').replace(decimalSeparator, '.');
            return parseFloat(formattedNumericString);
        }
    </script>
</body>
</html>