{% extends 'base.html' %}
{% load render_table from django_tables2 %}

{% block title %}Pedidos de Compra{% endblock %}

{% block content %}
    <h1 class="font-extrabold text-4xl leading-10">Registar Pedido de Compra</h1>
    <form method="post" class="flex flex-col gap-4">
        {% csrf_token %}
        <div class="flex gap-4">
            <div class="w-full">
                <span class="mb-2">Fornecedor</span>
                <a href="#supplierModal" class="button w-full !justify-start" rel="modal:open">
                    <i class="ph-fill ph-truck"></i>
                    {% if selected_supplier %}
                        <input name="supplier" class="hidden" value="{{ selected_supplier_id }}">
                        {{ selected_supplier }}
                    {% else %}
                        Seleciona um Fornecedor
                    {% endif %}
                </a>
                {% if errors.supplier %}
                    <span class="text-red-500 ml-1">{{ errors.supplier }}</span>
                {% endif %}
            </div>
            <div class="w-full">
                <span class="mb-2">Data de Entrega Possivel</span>
                {% component "Input" type="date" placeholder="Seleciona uma data" inputName="date" value=form.date.value error=errors.date %}
            </div>
        </div>
        {% component "ProductsBaseTable" errors=errors %}
        {% component "TextArea" name="obs" label="Observações" %}
        <button class="button !bg-green-500 text-white w-full hover:opacity-80">
            <i class="ph-fill ph-check-circle !text-white"></i>
            Finalizar Registo
        </button>
        <div id="product-list" class="hidden">
            <input type="text" class="hidden product-list-new" name="product_1"></input>
        </div>
    </form>
    {% component "SelectTableModal" id="supplierModal" title="Seleciona um Fornecedor" table=selectSupplierTable %}
    {% component "SelectTableModal" id="componentsModal" title="Seleciona um Componente" table=selectComponentsTable %}
{% endblock %}
```