{% extends 'base.html' %}
{% load render_table from django_tables2 %}

{% block title %}Pedidos de Compra{% endblock %}

{% block content %}
    <h1 class="font-extrabold text-4xl leading-10">Pedidos de Compra</h1>
    <div class="flex items-center justify-between">
        <a  href="{% url "criarRecessao" %}"  class="button">
            <i class="ph-fill ph-archive-box text-xl"></i>
            <span>Registar Recessão</span>
        </a>
        <a href="{%  url "criarPedidoCompra" %}" class="button">
            <i class="ph-bold ph-plus text-xl"></i>
            <span>Registar Pedido de Compra</span>
        </a>
    </div>
    {% render_table table %}
    <a  href="{% url "exportarPedidosCompra" %}"  class="button self-end">
        <i class="ph-fill ph-cloud-arrow-down text-xl"></i>
        <span>Exportar Pedidos</span>
    </a>
{% endblock %}